    layout {
        gaps 16 // Gap between windows
        // "never" = la vista se queda y las apps nuevas se van a la derecha (lo que odias).
        // "on-overflow" = si la columna enfocada no cabe en pantalla con la anterior, centra/trae la vista.
        // "always" = siempre centra la columna enfocada (más “cámara sigue a la ventana”).
        center-focused-column "always"

        background-color "transparent" // <- needed for noctalia-shell to set wallpaper

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
            proportion 1.0
        }

        // Half width by default — not full screen on open
        default-column-width { proportion 0.5; }

        struts {}
    }
